- `%pushd`: To komenda magiczna, która jest używana w interaktywnym środowisku Jupyter Notebook lub IPython. Umożliwia zmianę katalogu roboczego na podany folder (w tym przypadku `/content`) i dodaje bieżący katalog do stosu katalogów.

- `np.random.seed(12345)`: Ustawia ziarno dla generatora liczb losowych NumPy. Dzięki temu wyniki generowania liczb losowych będą powtarzalne.

- `np.set_printoptions(precision=4)`: Ustala precyzję wyświetlania wartości numerycznych na 4 miejsca po przecinku. Oznacza to, że liczby będą zaokrąglane do czterech miejsc po przecinku podczas wyświetlania.
- `suppress=True`: Ustawienie tego argumentu na `True` powoduje, że NumPy nie będzie używał notacji naukowej dla małych wartości (mniejszych niż 1e-4). Zamiast tego wartości będą wyświetlane w standardowej formie dziesiętnej.

In [1]:
%pushd /content
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

/content

- `np.random.standard_normal()`: Ta funkcja generuje pojedynczą wartość z rozkładu normalnego standardowego (średnia = 0, odchylenie standardowe = 1).

- `for i in range(7)`: Używa list comprehension do wygenerowania 7 próbek. Dla każdego `i` w zakresie od 0 do 6 (łącznie 7 iteracji) wywoływana jest funkcja `np.random.standard_normal()`, co skutkuje utworzeniem listy z 7 losowymi wartościami.

In [2]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [3]:
a = [1, 2, 3]

In [4]:
b = a
b

[1, 2, 3]

In [5]:
a.append(4)
b

[1, 2, 3, 4]

In [6]:
def append_element(some_list, element):
    some_list.append(element)

In [7]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [8]:
a = 5
type(a)
a = "foo"
type(a) # Dynamiczne typowanie w Python

str

In [10]:
"5" + 5 # TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [13]:
try:
    result = "5" + 5  # To spowoduje TypeError
except TypeError as e:
    print("TypeError: Można łączyć tylko ciągi z innymi ciągami.")
    print(f"Opis błędu: {str(e).upper()}")

TypeError: Można łączyć tylko ciągi z innymi ciągami.
Opis błędu: CAN ONLY CONCATENATE STR (NOT "INT") TO STR

In [12]:
a = 4.5
b = 2
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [14]:
a = 5
isinstance(a, int)

True

In [15]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

- `<function str.split(sep=None, maxsplit=-1)>`: To informacja, że `getattr()` zwróciło referencję do metody `split()` klasy `str`. Metoda ta jest używana do dzielenia ciągu na listę podciągów na podstawie separatora (domyślnie białych znaków).
- `sep=None`: Oznacza, że domyślny separator to białe znaki (spacje, tabulatory itp.).
- `maxsplit=-1`: Oznacza, że nie ma limitu na liczbę podziałów (wszystkie wystąpienia separatora będą użyte do podziału).

In [20]:
a = "foo"
getattr(a, "split")

In [25]:
b = 1
getattr(b, "bit_length")

Obiekty iterowalne:

- list (np. [1, 2, 3])
- tuple (np. (1, 2, 3))
- set (np. {1, 2, 3})
- dict (np. {"a": 1, "b": 2} - iteracja odbywa się po kluczach)
- frozenset
- str (np. "hello")
- range (np. range(5))
- enumerate
- zip

Obiekty nieiterowalne:
- int (np. 42)
- float (np. 3.14)
- complex (np. 3+4j)
- bool (np. True, False)
- NoneType (None)
- Ellipsis (...)

In [26]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # Obiekt nie jest iterowalny
        return False

In [29]:
isiterable("a string") # True
isiterable([1, 2, 3]) # True
isiterable(5) # False

True

In [31]:
from collections.abc import Iterable

# Przykład dla obiektów iterowalnych
print(isinstance([1, 2, 3], Iterable))  # True
print(isinstance("hello", Iterable))   # True

# Przykład dla obiektów nieiterowalnych
print(isinstance(42, Iterable))        # False
print(isinstance(None, Iterable))      # False

True
True
False
False

In [30]:
5 - 7
12 + 21.5
5 <= 2

False

In [37]:
a = [1, 2, 3]
b = a # True
c = list(a) # [1, 2, 3]
a is b # True
a is not c # True
print(id(a), id(c)) # 138516823151104 138516824611008

138516823151104 138516824611008

In [38]:
a == c

True

In [39]:
a = None
a is None

True

In [40]:
lista_a = ["foo", 2, [4, 5]]
lista_a[2] = (3, 4)
lista_a

['foo', 2, (3, 4)]

In [41]:
krotka_a  = (3, 5, (4, 5))
krotka_a[1] = "cztery" # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [42]:
krotka_b  = (1, 1, (4, 5))
krotka_b

(1, 1, (4, 5))

In [48]:
set_a  = set([1, 1, (4, 5)])
set_a

{(4, 5), 1}

In [49]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

- Wartość: `6.78e-5` to zapis w notacji naukowej, który oznacza . Wartość ta wynosi `0.0000678`.

In [51]:
fval = 7.243
fval2 = 6.78e-5
fval2

6.78e-05

In [52]:
3 / 2

1.5

In [53]:
3 // 2

1

In [54]:
c = """
Oto dłuższy ciąg znaków,
który zajmuje kilka linii.
"""

In [55]:
c.count("\n")

3

In [56]:
a = "przykładowy łańcuch"
a[10] = "f" # TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [57]:
b = a.replace("łańcuch", "dłuższy łańcuch")
b

'przykładowy dłuższy łańcuch'

In [58]:
a

'przykładowy łańcuch'

In [59]:
a = 5.6
s = str(a)
print(s)

5.6

In [60]:
s = "python"
list(s)
s[:3]

'pyt'

In [62]:
s = "12\\34"
print(s)

12\34

In [63]:
s = r"tekst\teskst\tekst\tekst"
s

'tekst\\teskst\\tekst\\tekst'

In [64]:
a = "pierwsza połowa "
b = "i druga połowa"
a + b

'pierwsza połowa i druga połowa'

In [69]:
szablon = "{0:.2f} {1:s} to równowartość {2:d} dolara"
szablon.format(88.46, "Pesos", 1)

'88.46 Pesos to równowartość 1 dolara'

In [75]:
"{0:.2f} {1:s} to równowartość {2:d} dolara".format(88.46, "Pesos", 1)

'88.46 Pesos to równowartość 1 dolara'

In [74]:
kwota = 10
kurs = 88.46
waluta = "Pesos"
wynik = f"{kwota} {waluta} to równowartość {kwota / kurs} dolara"

In [76]:
f"{kwota} {waluta} to równowartość {kwota / kurs:.2f} dolara"

'10 Pesos to równowartość 0.11 dolara'

In [79]:
val = "español"
print(val, type(val))

español <class 'str'>

In [87]:
val_utf8 = val.encode("utf-8")
val_utf8 # b'espa\xc3\xb1ol'
type(val_utf8)

bytes

In [80]:
val_utf8.decode("utf-8")

'español'

In [84]:
val.encode("latin1") # b'espa\xf1ol' Koduje ciąg val ("español") przy użyciu kodowania latin1 (ISO 8859-1).
val.encode("utf-16") # b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00' Koduje ciąg val w kodowaniu utf-16.
val.encode("utf-16le") # b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00' Koduje ciąg val w kodowaniu utf-16le (UTF-16 w formacie little-endian).

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [90]:
True and True # True
False or True # True

True

In [93]:
int(False) # 0
int(True) # 1

1

In [99]:
a = True
b = False
not a # False
not b # True

True

In [104]:
s = "3.14159"
fval = float(s)
type(fval) # float
int(fval) # 3
bool(fval) # True
bool(0) # False

False

In [107]:
a = None
a is None # True
b = 5
b is not None # True

True

In [6]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day # 29
dt.minute # 30

30

In [7]:
dt.date() # datetime.date(2011, 10, 29)
dt.time() # datetime.time(20, 30, 21)
print(type(dt.date()), type(dt.time()))

<class 'datetime.date'> <class 'datetime.time'>

In [8]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

- Funkcja `datetime.strptime()` w Pythonie jest używana do konwertowania ciągu znaków (string) na obiekt typu `datetime` na podstawie określonego formatu.

In [9]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [10]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [11]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [12]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta # datetime.timedelta(days=17, seconds=7179)
type(delta)

datetime.timedelta

In [13]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [14]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Udało się")

Udało się

In [15]:
4 > 3 > 2 > 1

True

In [16]:
#! blockstart
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))
#! blockend

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [18]:
range(10) # ange(0, 10)
list(range(10))

range(0, 10)

In [19]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [20]:
sekwencja = [1, 2, 3, 4]
for i in range(len(sekwencja)):
    print(f"element {i}: {sekwencja[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [21]:
total = 0
for i in range(100_000):
    # % jest operatorem dzielenia modulo
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668