In [4]:
pwd

'/content'

In [6]:
%pushd /content
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 25
pd.options.display.max_columns = 20
pd.options.display.max_colwidth = 82
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

/content

In [5]:
float_data = pd.Series([1.2, -3.5, np.nan, 0])
float_data

0    1.2
1   -3.5
2    NaN
3    0.0
dtype: float64

In [7]:
float_data.isna()

0    False
1    False
2     True
3    False
dtype: bool

In [8]:
string_data = pd.Series(["aardvark", np.nan, None, "avocado"])
string_data

0    aardvark
1         NaN
2        None
3     avocado
dtype: object

In [9]:
string_data.isna()

0    False
1     True
2     True
3    False
dtype: bool

In [10]:
float_data = pd.Series([1, 2, None], dtype='float64')
float_data

0    1.0
1    2.0
2    NaN
dtype: float64

In [11]:
float_data.isna()

0    False
1    False
2     True
dtype: bool

In [13]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [14]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [15]:
data[data.notna()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [ ]:
#! ipython id=be32168b85724034b62a96f6fb6e7f2c
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])
data
data.dropna()

In [ ]:
#! ipython id=fc78d6354b4541f3a1c2416275e68c76
data.dropna(how="all")

In [ ]:
#! ipython id=87ba756b91eb4dd09d1b7e647a8ae7b9
data[4] = np.nan
data
data.dropna(axis="columns", how="all")

In [ ]:
#! ipython id=93bc1cf6fc10429a924cea596353e388
df = pd.DataFrame(np.random.standard_normal((7, 3)))
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
df
df.dropna()
df.dropna(thresh=2)

In [ ]:
#! ipython id=ceee3ece49cc4169a1f8ac1e6954accd
df.fillna(0)

In [ ]:
#! ipython id=a03bb4bc12e24a3e941daa79068471ff
df.fillna({1: 0.5, 2: 0})

In [ ]:
#! ipython id=bf828716b9e04ef5a37200b5d5086b47
df = pd.DataFrame(np.random.standard_normal((6, 3)))
df.iloc[2:, 1] = np.nan
df.iloc[4:, 2] = np.nan
df
df.fillna(method="ffill")
df.fillna(method="ffill", limit=2)

In [ ]:
#! ipython id=77b2b4714bd14dffb5e6b407fd0df952
data = pd.Series([1., np.nan, 3.5, np.nan, 7])
data.fillna(data.mean())

In [ ]:
#! ipython id=944377d16cdc466cb0a9e64fa1f79d5b
data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"],
                     "k2": [1, 1, 2, 3, 3, 4, 4]})
data

In [ ]:
#! ipython id=bd2994de11fd4012a835bd0ee2bcf4cb
data.duplicated()

In [ ]:
#! ipython id=ac1c8d333c8d40068f33556cee5cb8b4
data.drop_duplicates()

In [ ]:
#! ipython id=ac73e11080b04551bdf1a23729e75793
data["v1"] = range(7)
data
data.drop_duplicates(subset=["k1"])

In [ ]:
#! ipython id=eb735c97c9b744aa923b8fb94ae22f64
data.drop_duplicates(["k1", "k2"], keep="last")

In [ ]:
#! ipython id=4fd09f7a425741d5b1f61a28f2ec73a2
data = pd.DataFrame({"food": ["bacon", "pulled pork", "bacon",
                              "pastrami", "corned beef", "bacon",
                              "pastrami", "honey ham", "nova lox"],
                     "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
#! ipython verbatim id=1459d863e4e2488884aa21b5841fa88d
meat_to_animal = {
  "bacon": "pig",
  "pulled pork": "pig",
  "pastrami": "cow",
  "corned beef": "cow",
  "honey ham": "pig",
  "nova lox": "salmon"
}

In [ ]:
#! ipython id=a779fa7330de487fb907e801bf054696
data["animal"] = data["food"].map(meat_to_animal)
data

In [ ]:
#! ipython id=4c24af18964744eda625a480f5cdd126
def get_animal(x):
    return meat_to_animal[x]
data["food"].map(get_animal)

In [ ]:
#! ipython id=ec9f0e43f8da42ed8b3119331d09c853
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

In [ ]:
#! ipython id=8fd47d92ab854f47bed89d8a72c9d8a0
data.replace(-999, np.nan)

In [ ]:
#! ipython id=6bd3f8909caf4eed928f7164f277f8ef
data.replace([-999, -1000], np.nan)

In [ ]:
#! ipython id=467da543042d473aa9ed8b43e5daefec
data.replace([-999, -1000], [np.nan, 0])

In [ ]:
#! ipython id=e3dfba217f5a460d9bdf04ba573481ad
data.replace({-999: np.nan, -1000: 0})

In [ ]:
#! ipython id=103a514cd451404fbc7b559bab5ea87c
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=["Ohio", "Colorado", "New York"],
                    columns=["one", "two", "three", "four"])

In [ ]:
#! ipython id=aabdeea6a25f49a5a6949527b7d345bb
def transform(x):
    return x[:4].upper()

data.index.map(transform)

In [ ]:
#! ipython id=8923ced04de44246b6d710395cc93348
data.index = data.index.map(transform)
data

In [ ]:
#! ipython id=d125b3401a124c89a83007e36e3ee758
data.rename(index=str.title, columns=str.upper)

In [ ]:
#! ipython id=5f8e0d6ff0b4445d886c8ee0fb478191
data.rename(index={"OHIO": "INDIANA"},
            columns={"three": "peekaboo"})

In [ ]:
#! ipython id=5b066323cc4944c9938b36f4f8d52779
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [ ]:
#! ipython id=075935d1c34b41ba9ee1842e23605ad1
bins = [18, 25, 35, 60, 100]
age_categories = pd.cut(ages, bins)
age_categories

In [ ]:
#! ipython id=ce9e07485ac641e291688784a05e841c
age_categories.codes
age_categories.categories
age_categories.categories[0]
pd.value_counts(age_categories)

In [ ]:
#! ipython id=c40f7922de224c5682b37159bfb13adf
pd.cut(ages, bins, right=False)

In [ ]:
#! ipython id=5d5d56eba8384d11bd5d38c378c9fbf1
group_names = ["Youth", "YoungAdult", "MiddleAged", "Senior"]
pd.cut(ages, bins, labels=group_names)

In [ ]:
#! ipython id=33190ad9f1834874ba7cbd4066d8350b
data = np.random.uniform(size=20)
pd.cut(data, 4, precision=2)

In [ ]:
#! ipython id=5aa787199f2745d1a2358a097e9b23d9
data = np.random.standard_normal(1000)
quartiles = pd.qcut(data, 4, precision=2)
quartiles
pd.value_counts(quartiles)

In [ ]:
#! ipython id=6df8a2f012ad4735bbc92d478d946e1f
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.]).value_counts()

In [ ]:
#! ipython id=3979599fd2d247b7a32bf203a5c9a5c7
data = pd.DataFrame(np.random.standard_normal((1000, 4)))
data.describe()

In [ ]:
#! ipython id=14662c0a588c488d83d792107f20e528
col = data[2]
col[col.abs() > 3]

In [ ]:
#! ipython id=2a1bb1c468cf40a58f3c5223a992b59b
data[(data.abs() > 3).any(axis="columns")]

In [ ]:
#! ipython id=694246321bbd42adbb221b99486f388b
data[data.abs() > 3] = np.sign(data) * 3
data.describe()

In [ ]:
#! ipython id=d70c02173fe945abad1450a5709b520e
np.sign(data).head()

In [ ]:
#! ipython id=70d08ca5f48d48018126fd9ab1006314
df = pd.DataFrame(np.arange(5 * 7).reshape((5, 7)))
df
sampler = np.random.permutation(5)
sampler

In [ ]:
#! ipython id=f7c2008d514b4a549645c2c8a28861d9
df.take(sampler)
df.iloc[sampler]

In [ ]:
#! ipython id=ffbccf111b60408395f9eb116f6fc39a
column_sampler = np.random.permutation(7)
column_sampler
df.take(column_sampler, axis="columns")

In [ ]:
#! ipython id=c2429f2bce484acca0f590eed87cb896
df.sample(n=3)

In [ ]:
#! ipython id=f98970c0ba4942d880cf0d4076960bc3
choices = pd.Series([5, 7, -1, 6, 4])
choices.sample(n=10, replace=True)

In [ ]:
#! ipython id=590105f5b54b4b798b9c925339f1c000
df = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
                   "data1": range(6)})
df
pd.get_dummies(df["key"])

In [ ]:
#! ipython id=c9bf047cafa2489cb537d963eb18d16a
dummies = pd.get_dummies(df["key"], prefix="key")
df_with_dummy = df[["data1"]].join(dummies)
df_with_dummy

In [ ]:
#! ipython allow_exceptions id=e311a84ee00c40479411ed79fc5a6c69
mnames = ["movie_id", "title", "genres"]
movies = pd.read_table("dane/movielens/movies.dat", sep="::",
                       header=None, names=mnames, engine="python")
movies[:10]

In [ ]:
#! ipython id=8e085399c22341ee9632bf5efcb4a6dc
dummies = movies["genres"].str.get_dummies("|")
dummies.iloc[:10, :6]

In [ ]:
#! ipython id=9b2a0b211d424f6798485b72bd572e08
movies_windic = movies.join(dummies.add_prefix("Genre_"))
movies_windic.iloc[0]

In [ ]:
#! ipython id=f3df965a3e024e918c1e67e647a6589a
np.random.seed(12345) # Aby przykład był powtarzalny
values = np.random.uniform(size=10)
values
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

In [ ]:
#! ipython id=10771102e8084f5fa4a16200a93d058d
s = pd.Series([1, 2, 3, None])
s
s.dtype

In [ ]:
#! ipython id=66923eb117b34b21b548507e349d387d
s = pd.Series([1, 2, 3, None], dtype=pd.Int64Dtype())
s
s.isna()
s.dtype

In [ ]:
#! ipython id=8a80094d8808433599836ea7197e55b9
s[3]
s[3] is pd.NA

In [ ]:
#! ipython id=43b53a40545c451c94728b65b40c574e
s = pd.Series([1, 2, 3, None], dtype="Int64")

In [ ]:
#! ipython id=85af440e08ae45d9b570c8b65f496567
s = pd.Series(['one', 'two', None, 'three'], dtype=pd.StringDtype())
s

In [ ]:
#! ipython id=81a4d68317534367bdbd458b98a55329
df = pd.DataFrame({"A": [1, 2, None, 4],
                   "B": ["one", "two", "three", None],
                   "C": [False, None, False, True]})
df
df["A"] = df["A"].astype("Int64")
df["B"] = df["B"].astype("string")
df["C"] = df["C"].astype("boolean")
df

In [ ]:
#! ipython id=fe9efc6724224b7b9eccd32750524def
val = "a,b,  guido"
val.split(",")

In [ ]:
#! ipython id=9724ab6a052943e7803c2f855b47b29f
pieces = [x.strip() for x in val.split(",")]
pieces

In [ ]:
#! ipython id=e80b9a9828014622b86c088759d5e5a0
first, second, third = pieces
first + "::" + second + "::" + third

In [ ]:
#! ipython id=06baf1c7f132476f90f73524278f5972
"::".join(pieces)

In [ ]:
#! ipython id=d5571ea9402c4182af832d4b0b659ad4
"guido" in val
val.index(",")
val.find(":")

In [ ]:
#! ipython allow_exceptions id=ee7ecc7978534b3883cf050a76245ba3
val.index(":")

In [ ]:
#! ipython id=6c3ac8963e0348d5900d3b21f3d61421
val.count(",")

In [ ]:
#! ipython id=2385159093a248abbb0b590843359737
val.replace(",", "::")
val.replace(",", "")

In [ ]:
#! ipython id=b430b6ee3c904fa38a207e995ad4e152
import re
text = "foo    bar\t baz  \tqux"
re.split(r"\s+", text)

In [ ]:
#! ipython id=2af33f0f709d42a2853daaabafede024
regex = re.compile(r"\s+")
regex.split(text)

In [ ]:
#! ipython id=746b726a56dd4375a8a459b74d65789c
regex.findall(text)

In [ ]:
#! ipython verbatim id=8f2d09408b41491aa269044fc4375d93
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com"""
pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"

# Flaga re.IGNORECASE sprawia, że wyrażenie regularne nie zwraca uwagi na wielkość liter.
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
#! ipython id=4efa726d3118445db3dfa63e69147a3e
regex.findall(text)

In [ ]:
#! ipython id=5d3ea127f5064a0eabafa8f07982c0fe
m = regex.search(text)
m
text[m.start():m.end()]

In [ ]:
#! ipython id=56352eb1b66041658dc4a2df7cdd3659
print(regex.match(text))

In [ ]:
#! ipython id=16b2b19e1790421f8cbfd96272f49964
print(regex.sub("REDACTED", text))

In [ ]:
#! ipython id=48a7da4e764149fc9fbbc73d8836e703
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
#! ipython id=0e0269c4dfb748a787340d99bd51af16
m = regex.match("wesm@bright.net")
m.groups()

In [ ]:
#! ipython id=ba6371f22b31476d99904236e025caf2
regex.findall(text)

In [ ]:
#! ipython id=adf56cb7344246a4981c9ccbc4520e45
print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3", text))

In [ ]:
#! ipython id=d2dae337d0724a7cabb69f0d2e45d21a
data = {"Dave": "dave@google.com", "Steve": "steve@gmail.com",
        "Rob": "rob@gmail.com", "Wes": np.nan}
data = pd.Series(data)
data
data.isna()

In [ ]:
#! ipython id=b1a32c08159845ad97915762d2e9104c
data.str.contains("gmail")

In [ ]:
#! ipython id=e83b7f3cb11b42ea8344da39bc8313ed
data_as_string_ext = data.astype('string')
data_as_string_ext
data_as_string_ext.str.contains("gmail")

In [ ]:
#! ipython id=abd3d1bd7239406d8d764f812cb04018
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
data.str.findall(pattern, flags=re.IGNORECASE)

In [ ]:
#! ipython id=07c02acaf03844578f9b18af036e96b4
matches = data.str.findall(pattern, flags=re.IGNORECASE).str[0]
matches
matches.str.get(1)

In [ ]:
#! ipython id=140f72f7ebdf44fc832ac76596f1f500
data.str[:5]

In [ ]:
#! ipython id=086c74fc48364b859ab30d4c9278e96d
data.str.extract(pattern, flags=re.IGNORECASE)

In [ ]:
#! ipython id=5e0d1d0145d64d80870482f06001910e
values = pd.Series(['apple', 'orange', 'apple',
                    'apple'] * 2)
values
pd.unique(values)
pd.value_counts(values)

In [ ]:
#! ipython id=6b72957b5a1c4882828b5b6fc55bc645
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])
values
dim

In [ ]:
#! ipython id=c4c6450bbb7f4c74b579d4cc989d0547
dim.take(values)

In [ ]:
#! ipython id=922c7a3dfaf5478c8ece876bf6e8c8a4
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
rng = np.random.default_rng(seed=12345)
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': rng.integers(3, 15, size=N),
                   'weight': rng.uniform(0, 4, size=N)},
                  columns=['basket_id', 'fruit', 'count', 'weight'])
df

In [ ]:
#! ipython id=d3efa50a15b64f78b8ee5d1bffd9e3db
fruit_cat = df['fruit'].astype('category')
fruit_cat

In [ ]:
#! ipython id=5b3590609c7f4a2984add7aefc62727c
c = fruit_cat.array
type(c)

In [ ]:
#! ipython id=4d5fd7e39e7b4dc4bf59a7597a66cbe1
c.categories
c.codes

In [ ]:
#! ipython id=a5d2afb03a3d46fe99b79633b5480fb7
dict(enumerate(c.categories))

In [ ]:
#! ipython id=b4e849ae87304ac1a2b717ecafbf58c4
df['fruit'] = df['fruit'].astype('category')
df["fruit"]

In [ ]:
#! ipython id=adba8c41d0094e49943f4c0f03bfb560
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

In [ ]:
#! ipython id=dbb5b2424ba146f0b001398542f64ae3
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

In [ ]:
#! ipython id=2ee990370ede41ddbcf285a6c1330ee0
ordered_cat = pd.Categorical.from_codes(codes, categories,
                                        ordered=True)
ordered_cat

In [ ]:
#! ipython id=27e720c7999143b8bc6fa95797bb78fd
my_cats_2.as_ordered()

In [ ]:
#! ipython id=3268082ea833473888cb6df910208de8
rng = np.random.default_rng(seed=12345)
draws = rng.standard_normal(1000)
draws[:5]

In [ ]:
#! ipython id=6d7daaf08a8240dea51848a3a6cc211d
bins = pd.qcut(draws, 4)
bins

In [ ]:
#! ipython id=6faabc704b9c436fa0e32ac6755e6359
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins
bins.codes[:10]

In [ ]:
#! ipython id=0f2080e060dd4d848ff1a9d846c8a71e
bins = pd.Series(bins, name='quartile')
results = (pd.Series(draws)
           .groupby(bins)
           .agg(['count', 'min', 'max'])
           .reset_index())
results

In [ ]:
#! ipython id=4d1f92dfe8e34a6d8173c0aca18d8b55
results['quartile']

In [ ]:
#! ipython id=cb512af2f6bf4eb5b312ae330bd4c91e
N = 10_000_000
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))

In [ ]:
#! ipython id=2978248572a743be8529a1668d424e8a
categories = labels.astype('category')

In [ ]:
#! ipython id=a16f1610329347ffa2f28661941350b7
labels.memory_usage(deep=True)
categories.memory_usage(deep=True)

In [ ]:
#! ipython id=dd7310d96d4d4c24bb7e3e9ad26b066f
%time _ = labels.astype('category')

In [ ]:
#! ipython id=aca60c356d264f7c872287f1bfdf75c9
%timeit labels.value_counts()
%timeit categories.value_counts()

In [ ]:
#! ipython id=9dd1c0395c0743db8a283da215ae7f50
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category')
cat_s

In [ ]:
#! ipython id=84308427acbc491381531a16cd3bcc15
cat_s.cat.codes
cat_s.cat.categories

In [ ]:
#! ipython id=7b07ac0b91ef42809b1183ccc41555c1
actual_categories = ['a', 'b', 'c', 'd', 'e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
cat_s2

In [ ]:
#! ipython id=919709709a4c4c8d93e135d137ea0757
cat_s.value_counts()
cat_s2.value_counts()

In [ ]:
#! ipython id=0350789cd1fe41c6908b5e604ea34eb0
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]
cat_s3
cat_s3.cat.remove_unused_categories()

In [ ]:
#! ipython id=c6b7347f928a4580b5dac67f798d9e28
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')

In [ ]:
#! ipython id=95950502e1bc4cfba88e7891c8062ee6
pd.get_dummies(cat_s)

In [ ]:
#! ipython suppress id=b8746f91160c4c9da000aeb4891514bf
%popd

In [ ]:
#! ipython suppress id=621a2c4436a44e5db40091b1e4f8a167
pd.options.display.max_rows = PREVIOUS_MAX_ROWS