In [1]:
pwd

'/content'

In [2]:
%pushd /content
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision=4, suppress=True)

/content

In [4]:
import numpy as np
import pandas as pd

In [5]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2024, 12, 28, 17, 17, 12, 204366)

In [6]:
now.year, now.month, now.day

(2024, 12, 28)

In [7]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [8]:
delta.days

926

In [9]:
delta.seconds

56700

In [10]:
from datetime import timedelta

start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [11]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [12]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [13]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [14]:
value = "2011-01-03"
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
datestrs = ["7/6/2011", "8/6/2011"]
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

- Funkcja `pd.to_datetime()` w bibliotece Pandas jest używana do konwersji różnych formatów daty i czasu na obiekty datetime. W przypadku podanego zapytania, gdzie masz listę ciągów dat, funkcja ta zamienia te ciągi na format datetime, co jest przydatne w analizie danych czasowych.

In [16]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [17]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [18]:
idx[2]

NaT

In [19]:
pd.isna(idx)

array([False, False,  True])

In [20]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.standard_normal(6), index=dates)
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [21]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [23]:
ts[::2]

2011-01-02   -0.204708
2011-01-07   -0.519439
2011-01-10    1.965781
dtype: float64

In [24]:
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [22]:
ts + ts[::2]

2011-01-02   -0.409415
2011-01-05         NaN
2011-01-07   -1.038877
2011-01-08         NaN
2011-01-10    3.931561
2011-01-12         NaN
dtype: float64

In [25]:
ts.index.dtype

dtype('<M8[ns]')

In [26]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [27]:
stamp = ts.index[2]
ts[stamp]

-0.5194387150567381

In [28]:
ts["2011-01-10"]

1.9657805725027142

In [29]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                      index=pd.date_range("2000-01-01", periods=1000))
longer_ts
longer_ts["2001"]

2001-01-01    1.599534
2001-01-02    0.474071
2001-01-03    0.151326
2001-01-04   -0.542173
2001-01-05   -0.475496
                ...
2001-12-27    0.057874
2001-12-28   -0.433739
2001-12-29    0.092698
2001-12-30   -1.397820
2001-12-31    1.457823
Freq: D, Length: 365, dtype: float64

In [30]:
longer_ts["2001-05"]

2001-05-01   -0.622547
2001-05-02    0.936289
2001-05-03    0.750018
2001-05-04   -0.056715
2001-05-05    2.300675
                ...
2001-05-27    0.235477
2001-05-28    0.111835
2001-05-29   -1.251504
2001-05-30   -2.949343
2001-05-31    0.634634
Freq: D, Length: 31, dtype: float64

In [31]:
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [32]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [33]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
dtype: float64

In [34]:
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [35]:
ts["2011-01-06":"2011-01-11"]

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
dtype: float64

- W przypadku `ts.truncate(after="2011-01-09")`, wszystkie dane po dacie 9 stycznia 2011 roku zostaną usunięte.

In [36]:
ts.truncate(after="2011-01-09")

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
dtype: float64

In [39]:
dates = pd.date_range("2000-01-01", periods=100, freq="W-WED")
dates[:5]

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02'],
              dtype='datetime64[ns]', freq='W-WED')

In [40]:
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                       index=dates,
                       columns=["Colorado", "Texas",
                                "New York", "Ohio"])

long_df[:5]

            Colorado     Texas  New York      Ohio
2000-01-05  0.488675 -0.178098  2.122315  0.061192
2000-01-12  0.884111 -0.608506 -0.072052  0.544066
2000-01-19  0.323886 -1.683325  0.526860  1.858791
2000-01-26 -0.548419 -0.279397 -0.021299 -0.287990
2000-02-02  0.089175  0.522858  0.572796 -1.760372

- Tworzenie zakresu dat: Używamy `pd.date_range`, aby stworzyć zakres dat zaczynający się od 1 stycznia 2000 roku. Ustawiamy `periods=100`, co oznacza, że chcemy uzyskać 100 dat, a `freq="W-WED"` oznacza, że daty będą przypadały na środy.

In [43]:
dates = pd.date_range("2000-01-01", periods=100, freq="W-WED")
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                       index=dates,
                       columns=["Colorado", "Texas",
                                "New York", "Ohio"])
long_df.loc["2001-02"]

            Colorado     Texas  New York      Ohio
2001-02-07 -0.250439 -0.151218  0.166420 -0.718974
2001-02-14 -0.823032  0.477885 -0.573430  0.373544
2001-02-21  0.606128  0.483893  0.447850  0.321877
2001-02-28 -1.295372  0.355685 -0.697173  0.727872

In [44]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                          "2000-01-02", "2000-01-03"])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [45]:
dup_ts.index.is_unique

False

In [46]:
dup_ts["2000-01-03"]  # not duplicated

4

In [47]:
dup_ts["2000-01-02"]  # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [48]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [49]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [50]:
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [51]:
resampler = ts.resample("D")
resampler

In [52]:
index = pd.date_range("2012-04-01", "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range(start="2012-04-01", periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [54]:
pd.date_range(end="2012-06-01", periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

- Aby utworzyć zakres dat w Pandas od 1 stycznia 2000 roku do 1 grudnia 2000 roku z częstotliwością “BM” (Business Month End), możesz użyć funkcji `pd.date_range()`. Częstotliwość “BM” generuje daty, które przypadają na koniec miesiąca roboczego.

In [55]:
pd.date_range("2000-01-01", "2000-12-01", freq="BM")

<ipython-input-55-b072f5bd3d9f>:1: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  pd.date_range("2000-01-01", "2000-12-01", freq="BM")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BME')

In [56]:
pd.date_range("2012-05-02 12:56:31", periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [57]:
pd.date_range("2012-05-02 12:56:31", periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

- Importowanie bibliotek: Importujemy Pandas oraz klasy `Hour` i `Minute` z modułu `pandas.tseries.offsets`.
- Tworzenie obiektów: Tworzymy instancje klas `Hour` i `Minute`, które reprezentują odpowiednio przesunięcie o jedną godzinę i jedną minutę.

In [59]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
print(hour)

<Hour>

In [60]:
four_hours = Hour(4)
four_hours

In [ ]:
pd.date_range("2000-01-01", "2000-01-03 23:59", freq="4H")

In [ ]:
#! ipython id=beef8c7807e34b1ea65756437085bab5
Hour(2) + Minute(30)

In [ ]:
#! ipython id=5bb25a584faa49718052115bd3b3ae39
pd.date_range("2000-01-01", periods=10, freq="1h30min")

In [ ]:
#! ipython id=db9f1fc3d9a5419994e1adda66c83212
monthly_dates = pd.date_range("2012-01-01", "2012-09-01", freq="WOM-3FRI")
list(monthly_dates)

In [ ]:
#! ipython id=b2397e270f56489e89f63a2c1732d8d5
ts = pd.Series(np.random.standard_normal(4),
               index=pd.date_range("2000-01-01", periods=4, freq="M"))
ts
ts.shift(2)
ts.shift(-2)

In [ ]:
#! ipython id=30cdaeba864a452b894ce82253efcec7
ts.shift(2, freq="M")

In [ ]:
#! ipython id=43fd4a3b864347008c9e58579d1318ec
ts.shift(3, freq="D")
ts.shift(1, freq="90T")

In [ ]:
#! ipython id=d3a295c2d66d4ee49501d8e52df4006c
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

In [ ]:
#! ipython id=840a4a58d2444b42b7f71aa5f69af613
now + MonthEnd()
now + MonthEnd(2)

In [ ]:
#! ipython id=947ac8d4eae84bcb9abbd6250957070f
offset = MonthEnd()
offset.rollforward(now)
offset.rollback(now)

In [ ]:
#! ipython id=efd27228c8f54689b2e1e476204ba317
ts = pd.Series(np.random.standard_normal(20),
               index=pd.date_range("2000-01-15", periods=20, freq="4D"))
ts
ts.groupby(MonthEnd().rollforward).mean()

In [ ]:
#! ipython id=b6d6087bdfb4474f91a0cf774283f1d1
ts.resample("M").mean()

In [ ]:
#! ipython id=19c326a03d9a4cd783fbcc8cb5ff421c
import pytz
pytz.common_timezones[-5:]

In [ ]:
#! ipython id=81652670d9d84ed1bc65dff261cd0937
tz = pytz.timezone("America/New_York")
tz

In [ ]:
#! ipython id=27a1920372f0414cb335c9ac80c1a883
dates = pd.date_range("2012-03-09 09:30", periods=6)
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

In [ ]:
#! ipython id=fd6da4e7623d40babb80385bd6b80a36
print(ts.index.tz)

In [ ]:
#! ipython id=e03db4a0b6d34d66a88f0be927424a1b
pd.date_range("2012-03-09 09:30", periods=10, tz="UTC")

In [ ]:
#! ipython id=0dd2997562634b6c9161adc215855962
ts
ts_utc = ts.tz_localize("UTC")
ts_utc
ts_utc.index

In [ ]:
#! ipython id=49c15434eb0c47bf950d42390118f378
ts_utc.tz_convert("America/New_York")

In [ ]:
#! ipython id=01e4044008b14d7f9e4990a1e66210e3
ts_eastern = ts.tz_localize("America/New_York")
ts_eastern.tz_convert("UTC")
ts_eastern.tz_convert("Europe/Berlin")

In [ ]:
#! ipython id=1dcc4db3bd4b43138c22293079cafe68
ts.index.tz_localize("Asia/Shanghai")

In [ ]:
#! ipython id=e3618c9788f040a38fac2443dac25892
stamp = pd.Timestamp("2011-03-12 04:00")
stamp_utc = stamp.tz_localize("utc")
stamp_utc.tz_convert("America/New_York")

In [ ]:
#! ipython id=8715a838b21f4789a6b58e4ceb0a56e4
stamp_moscow = pd.Timestamp("2011-03-12 04:00", tz="Europe/Moscow")
stamp_moscow

In [ ]:
#! ipython id=0aed2bac3c41471899b081a582412f4e
stamp_utc.value
stamp_utc.tz_convert("America/New_York").value

In [ ]:
#! ipython id=b778152898374964a084de3b3b63f935
stamp = pd.Timestamp("2012-03-11 01:30", tz="US/Eastern")
stamp
stamp + Hour()

In [ ]:
#! ipython id=c0d18d84985d4ede88ec95727c7fb8e9
stamp = pd.Timestamp("2012-11-04 00:30", tz="US/Eastern")
stamp
stamp + 2 * Hour()

In [ ]:
#! ipython id=8cde92a79e444f44b5f952eabb4b7491
dates = pd.date_range("2012-03-07 09:30", periods=10, freq="B")
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts
ts1 = ts[:7].tz_localize("Europe/London")
ts2 = ts1[2:].tz_convert("Europe/Moscow")
result = ts1 + ts2
result.index

In [ ]:
#! ipython id=bae9a7cce5cd496b8b3756412b670013
p = pd.Period("2011", freq="A-DEC")
p

In [ ]:
#! ipython id=518401c31bc8419bbf28956e2c9be595
p + 5
p - 2

In [ ]:
#! ipython id=e5ff985e90fe44579705c3d3cdf5e5b7
pd.Period("2014", freq="A-DEC") - p

In [ ]:
#! ipython id=ef000f892654403b9f476bb7e1d9bacd
periods = pd.period_range("2000-01-01", "2000-06-30", freq="M")
periods

In [ ]:
#! ipython id=d3426c6da33b4175891f9d8d4caa4ab8
pd.Series(np.random.standard_normal(6), index=periods)

In [ ]:
#! ipython id=47db0721ff4a4ca89bdc74daae703a55
values = ["2001Q3", "2002Q2", "2003Q1"]
index = pd.PeriodIndex(values, freq="Q-DEC")
index

In [ ]:
#! ipython id=348880d80dc14062bb80c374d953f7ce
p = pd.Period("2011", freq="A-DEC")
p
p.asfreq("M", how="start")
p.asfreq("M", how="end")
p.asfreq("M")

In [ ]:
#! ipython id=669af5f271964c7cbefe3265cde35c6c
p = pd.Period("2011", freq="A-JUN")
p
p.asfreq("M", how="start")
p.asfreq("M", how="end")

In [ ]:
#! ipython id=ec04cdb713554c0fa0b4162e372b9876
p = pd.Period("Aug-2011", "M")
p.asfreq("A-JUN")

In [ ]:
#! ipython id=979cb059424a48f6a887fb50fdb66adf
periods = pd.period_range("2006", "2009", freq="A-DEC")
ts = pd.Series(np.random.standard_normal(len(periods)), index=periods)
ts
ts.asfreq("M", how="start")

In [ ]:
#! ipython id=51ab6bd5e33e433a8786b0a3fe239dd2
ts.asfreq("B", how="end")

In [ ]:
#! ipython id=38b59581b62f4808a145d4b5bac7d04c
p = pd.Period("2012Q4", freq="Q-JAN")
p

In [ ]:
#! ipython id=03f4b2f382e84260bfccec8df35b5903
p.asfreq("D", how="start")
p.asfreq("D", how="end")

In [ ]:
#! ipython id=629d1fcb8b5d42329da5126f166a028f
p4pm = (p.asfreq("B", how="end") - 1).asfreq("T", how="start") + 16 * 60
p4pm
p4pm.to_timestamp()

In [ ]:
#! ipython id=2b671198cc014db3bf349878fab5e36a
periods = pd.period_range("2011Q3", "2012Q4", freq="Q-JAN")
ts = pd.Series(np.arange(len(periods)), index=periods)
ts
new_periods = (periods.asfreq("B", "end") - 1).asfreq("H", "start") + 16
ts.index = new_periods.to_timestamp()
ts

In [ ]:
#! ipython id=debf05cadb0f4a94a7174e2f8859f352
dates = pd.date_range("2000-01-01", periods=3, freq="M")
ts = pd.Series(np.random.standard_normal(3), index=dates)
ts
pts = ts.to_period()
pts

In [ ]:
#! ipython id=6ac8d11fe6a1408cb83be89895617dd6
dates = pd.date_range("2000-01-29", periods=6)
ts2 = pd.Series(np.random.standard_normal(6), index=dates)
ts2
ts2.to_period("M")

In [ ]:
#! ipython id=de1111bbae4a4343945546f43c1af706
pts = ts2.to_period()
pts
pts.to_timestamp(how="end")

In [ ]:
#! ipython id=d14658aeb9db49f090190ba82c255d4e
data = pd.read_csv("przykłady/macrodata.csv")
data.head(5)
data["year"]
data["quarter"]

In [ ]:
#! ipython id=4b1ab91f7f9d4f958b10ae49617ae6c6
index = pd.PeriodIndex(year=data["year"], quarter=data["quarter"],
                       freq="Q-DEC")
index
data.index = index
data["infl"]

In [ ]:
#! ipython id=07232ac59e2a49f18606b1b9422b2889
dates = pd.date_range("2000-01-01", periods=100)
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts
ts.resample("M").mean()
ts.resample("M", kind="period").mean()

In [ ]:
#! ipython id=12dad7e46e2449eca9f2482399b82397
dates = pd.date_range("2000-01-01", periods=12, freq="T")
ts = pd.Series(np.arange(len(dates)), index=dates)
ts

In [ ]:
#! ipython id=b187a814d71c4a7bbb8c1c8750d9133f
ts.resample("5min").sum()

In [ ]:
#! ipython id=450f99fca60945bab78ddf104cedabf9
ts.resample("5min", closed="right").sum()

In [ ]:
#! ipython id=6587ba3145214dc8b3f50ccb40bc88b8
ts.resample("5min", closed="right", label="right").sum()

In [ ]:
#! ipython id=c48ee1ea64c2498e8ede907aea647016
from pandas.tseries.frequencies import to_offset
result = ts.resample("5min", closed="right", label="right").sum()
result.index = result.index + to_offset("-1s")
result

In [ ]:
#! ipython id=e036e195212b453985a4bc219cd308f3
ts = pd.Series(np.random.permutation(np.arange(len(dates))), index=dates)
ts.resample("5min").ohlc()

In [ ]:
#! ipython id=22d7658abb234e16a56b2637142c053c
frame = pd.DataFrame(np.random.standard_normal((2, 4)),
                     index=pd.date_range("2000-01-01", periods=2,
                                         freq="W-WED"),
                     columns=["Colorado", "Texas", "New York", "Ohio"])
frame

In [ ]:
#! ipython id=7a564b646cbc45d78d95f6333692fd84
df_daily = frame.resample("D").asfreq()
df_daily

In [ ]:
#! ipython id=ecb1c4fc9803419b849c214cddaddae3
frame.resample("D").ffill()

In [ ]:
#! ipython id=a84044fc3dbe4f0597b997ec51c96490
frame.resample("D").ffill(limit=2)

In [ ]:
#! ipython id=3f5e6bf2f6844db9ae9ac57ee806df7e
frame.resample("W-THU").ffill()

In [ ]:
#! ipython id=42a429ef95bc45fdb9c595f3b3ffd163
frame = pd.DataFrame(np.random.standard_normal((24, 4)),
                     index=pd.period_range("1-2000", "12-2001",
                                           freq="M"),
                     columns=["Colorado", "Texas", "New York", "Ohio"])
frame.head()
annual_frame = frame.resample("A-DEC").mean()
annual_frame

In [ ]:
#! ipython id=21bc509f9fc340b6882974f3ec17e715
# Q-DEC: Quarterly, year ending in December
annual_frame.resample("Q-DEC").ffill()
annual_frame.resample("Q-DEC", convention="end").asfreq()

In [ ]:
#! ipython id=9d82a3b714164b4dad4eceaeadeda604
annual_frame.resample("Q-MAR").ffill()

In [ ]:
#! ipython id=f23204097cbd44b3a899d2cbaa35c2bd
N = 15
times = pd.date_range("2017-05-20 00:00", freq="1min", periods=N)
df = pd.DataFrame({"czas": times,
                   "wartość": np.arange(N)})
df

In [ ]:
#! ipython id=806fd8e5d2aa413f8c990b6acebde10d
df.set_index("czas").resample("5min").count()

In [ ]:
#! ipython id=9a28095367094308ad46b129e69586aa
df2 = pd.DataFrame({"czas": times.repeat(3),
                    "klucz": np.tile(["a", "b", "c"], N),
                    "wartość": np.arange(N * 3.)})
df2.head(7)

In [ ]:
#! ipython id=0991852576124da587038d8939d3de61
time_key = pd.Grouper(freq="5min")

In [ ]:
#! ipython id=a7c8d07161384a4385a4d82fffa4e7ae
resampled = (df2.set_index("czas")
             .groupby(["klucz", time_key])
             .sum())
resampled
resampled.reset_index()

In [ ]:
#! ipython id=3ff50b0ceeef40c4bbe32b4b8cf3824a
close_px_all = pd.read_csv("przykłady/akcje.csv",
                           parse_dates=True, index_col=0)
close_px = close_px_all[["AAPL", "MSFT", "XOM"]]
close_px = close_px.resample("B").ffill()

In [ ]:
#! ipython id=3a7907583c5c464eb2d146e8ddcb479f
close_px["AAPL"].plot()
#! figure,id=apple_daily_ma250,title="Wykres cen akcji firmy Apple przy 250-dniowej ruchomej średniej"
close_px["AAPL"].rolling(250).mean().plot()

In [ ]:
#! ipython id=cd2ea550f4ab44bebddcdef67fc7990b
plt.figure()
std250 = close_px["AAPL"].pct_change().rolling(250, min_periods=10).std()
std250[5:12]
#! figure,id=apple_daily_std250,title="Akcje firmy Apple - 250-dniowe odchylenie standardowe dziennego zwrotu"
std250.plot()

In [ ]:
#! ipython id=504b4010407f4edcac81dfa106681206
expanding_mean = std250.expanding().mean()

In [ ]:
#! ipython suppress id=828830f0853b45388516d1d716305702
plt.figure()

In [ ]:
#! ipython id=757ccd62b4c64042add7a055b90d3f79
plt.style.use('grayscale')
#! figure,id=stocks_daily_ma60,title="Sześćdziesięciodniowa średnia ruchoma cen akcji (logarytm osi Y)"
close_px.rolling(60).mean().plot(logy=True)

In [ ]:
#! ipython id=d1df05357bef4ef5be80524c35b9407a
close_px.rolling("20D").mean()

In [ ]:
#! ipython suppress id=f65d7f1f960c4466af77c7e80a9fdf4c
plt.figure()

In [ ]:
#! ipython id=fac9c661db8a4c77bd6e450f0ca0f082
aapl_px = close_px["AAPL"]["2006":"2007"]

ma30 = aapl_px.rolling(30, min_periods=20).mean()
ewma30 = aapl_px.ewm(span=30).mean()

aapl_px.plot(style="k-", label="Cena")
ma30.plot(style="k--", label="Standardowa średnia ruchoma")
ewma30.plot(style="k-", label="Średnia ruchoma ważona wykładniczo")
#! figure,id=timeseries_ewma,title="Porównanie standardowej średniej ruchomej ze średnią ruchomą ważoną wykładniczo"
plt.legend()

In [ ]:
#! ipython suppress id=cf8d4580bade4701b8cc6c1b05c4ed97
plt.figure()

In [ ]:
#! ipython id=850496d7c94b423f994cbc710002ccf7
spx_px = close_px_all["SPX"]
spx_rets = spx_px.pct_change()
returns = close_px.pct_change()

In [ ]:
#! ipython id=f065c26f19e7491b8f573f8d0f0d67e3
corr = returns["AAPL"].rolling(125, min_periods=100).corr(spx_rets)
#! figure,id=roll_correl_aapl,title="Korelacja zwrotu (firma Apple) i indeksu S&P 500 na przestrzeni sześciu miesięcy"
corr.plot()

In [ ]:
#! ipython suppress id=f67e1433110f4a6a8e72034ead461e09
plt.figure()

In [ ]:
#! ipython id=e312071fe8a74319afc03f447030c468
corr = returns.rolling(125, min_periods=100).corr(spx_rets)
#! figure,id=roll_correl_all,title="Korelacje zwrotów z indeksem S&P 500 na przestrzeni sześciu miesięcy"
corr.plot()

In [ ]:
#! ipython suppress id=e0f7372085924896960706add4fa5f56
plt.figure()

In [ ]:
#! ipython id=e176480d4d034f1bbaa1b4c09caf9df6
from scipy.stats import percentileofscore
def score_at_2percent(x):
    return percentileofscore(x, 0.02)

result = returns["AAPL"].rolling(250).apply(score_at_2percent)
#! figure,id=roll_apply_ex,title="Percentyl rangi 2% zwrotu przy rocznym oknie"
result.plot()

In [ ]:
#! ipython suppress id=419d9badc37c41888f19b0fd158061dd
%popd

In [ ]:
#! ipython suppress id=1ff3016eeceb4d3e9a95f134c7ab9512
pd.options.display.max_rows = PREVIOUS_MAX_ROWS